<div class="navbar">
  <a href="/profil">Profil</a>
  <a href="/parcours">Parcours</a>
  <a href="/experience">Expériences</a>
  <a href="/projet">Projets</a>
  <a href="/hobbie">Hobbies</a>
  <a href="/contact">Contacts</a>
</div>
<div class="wrapper">
  <div class="sections">
    <a href="/profil"><div class="section" style="background-image: url(<%= asset_path('profil-carre') %>);">Mon profil</div></a>
    <a href="/parcours"><div class="section" style="background-image: url(<%= asset_path('scolaire-carre') %>);">Mon parcours</div></a>
    <a href="/experience"><div class="section" style="background-image: url(<%= asset_path('pro-carre') %>);">Mes expériences professionnelles</div></a>
    <a href="/contact"><div class="section" style="background-image: url(<%= asset_path('contacts-carre') %>);">Mes contacts</div></a>
    <a href="/hobbie"><div class="section" style="background-image: url(<%= asset_path('hobbies-carre') %>);">Mes hobbies</div></a>
    <a href="/projet"><div class="section" style="background-image: url(<%= asset_path('projets-carre') %>);">Mes projets scolaires et personnels</div></a>
  </div>
</div>
